[2017-02-23 05:37] AlexeyRaga opened #3 "Publish on Hackage"
Can it be published on Hackage?

[2017-02-25 01:47] TomMD commented on #3
I can, but would you be interested in pushing it to hackage?   I don't have sufficient time to maintain it to a comfortable level and I regard hackage as a commitment to the community.

[2017-02-25 10:33] AlexeyRaga commented on #3
Potentially yes. I am just starting using it seriously in production, so I may want/need to put some effort to it anyway (although I still hope that it would "just work" :))).
Let's come back to this matter once again a bit later :)

[2017-02-25 10:33] #3 closed

[2017-03-07 11:20] Icelandjack opened #4 "{To,From}Avro (Either a b) are Left-biased when (a ~ b)"
Avro does not distinguish between `Left` and `Right` branch

[code]

so converting back from Avro gives a `Left` regardless of the original constructor

[code]

[2017-03-07 13:16] AlexeyRaga commented on #4
I am not sure if it is incorrect though.
Avro specification defines union at a type level:

So from the Avro point of view you are saying "this type must be either String or String". Well, it is String, that's what Avro tells you in return.

More on that:

So having a union of `["string", "string"]` doesn't seem to be complying to the specification.

[2017-03-08 13:27] Icelandjack commented on #4
That's a fine view but I would probably introduce a new type with the untagged-union semantics, I expect a tagged union when using `Either`.

[2017-03-09 00:03] AlexeyRaga commented on #4
Interesting. By "a new type with the untagged-union semantics" you mean your own record type in terms of Avro? I think it can be done on the client side, at least in the mean time.

I think this is not limited `Either a a`, many times `mkUnion` is used directly in the code and it currently has no checks for type uniqueness. Ideally it should be done at the compile time, but I don't know how :)

It

[2017-08-02 12:30] AlexeyRaga opened #8 "Why use entropy"
Hi @TomMD,

Just a question. I see that you use `entropy` package for generating "The 16-byte, randomly-generated sync marker".
Can you explain why `entropy` and why "standard" `random` cannot be used?

[2017-08-02 14:56] TomMD commented on #8
The random package and its `StdGen` is a terrible random number generator and uses bad seed values.  I expect the sync marker is 16 random bytes out of an expectation it will not repeat (i.e. a nonce), but I'm not confident that expectation would be met if I used `random`.

[2017-08-02 22:37] AlexeyRaga commented on #8
Thanks!
Do you have anything in mind that I can use instead of `entropy` that doesn't depend on `unix` and C code?
The reason I am asking is that I wanted to compile this package for `eta` (ghc port for jvm), and obviously C bits don't compile that easily.
There is a way to work it around, but I wanted to ask first if you know something Haskell-native that we use instead?

[2017-08-02 22:52] TomMD commented on #8
Hurm, I can think of a number of RNGs but the issue here is really the seed.  There isn't a Haskell native seed that I know of - it's sort of a system responsibility to provide a seed.

How do you usually get random numbers (secure seed values) in `eta`? Keep in mind I don't know a thing about it.  Can't we just patch `entropy` to support eta better?

[2017-08-03 00:15] AlexeyRaga commented on #8
Yes, that is what meant when I said that there is a workaround: patching `entropy`, or even the `avro` for `eta`.
`Eta` has the idea of "patches" that are applied automatically when a library gets pulled from Hackage. It is its way of dealing with these kind of issues: wherever a Haskell lib uses C, there can be a patch which, for example, uses JVM functions instead of C ones.

For example, `tf-ra

[2017-08-03 00:55] TomMD commented on #8
For this use I'm comfortable switching to tf-random if that would make your
life easier.  Thoughts?

On Wed, Aug 2, 2017 at 5:15 PM, Alexey Raga <notifications@github.com>
wrote:

[2017-08-03 01:02] AlexeyRaga commented on #8
We are not using containers at all (we rather read/wrire Kafka) so I am OK with `tf-random`.
I'll make a change if there is an agreement. It is going to be in my second PR soon.

[2017-11-20 23:59] adelbertc opened #10 "Design deriving types for n-ary unions for n > 2"
I see in the README and [here](https://github.com/GaloisInc/avro/blob/master/src/Data/Avro/Deriving.hs#L166) that deriving data types for n-ary unions is currently not supported. I assume this is because for n > 2 it is not clear what data type to generate.

In Scala's [avro4s](https://github.com/sksamuel/avro4s) they use [something akin to GHC.Generics `:+:`](https://github.com/sksamuel/avro4s#co

[2017-11-21 00:00] adelbertc commented on #10
cc @AlexeyRaga who added the note to the README

[2017-11-21 02:09] AlexeyRaga commented on #10
I think what we could do in this case is to generate a data type with N constructors. It'll keep types simple (without imposing many type-level features on clients).

Something like:

    { "name": "Result", "type": ["string", "int", "User"] ...

would end up being:

    data Result = ResultString String | ResultInt Int | ResultUser User

I've done something like that in Scala a couple of years ag

[2017-11-21 17:24] adelbertc commented on #10
Ah that's interesting, we can certainly do that.

Is there a lot of type-level machinery involved in doing the Haskell equivalent of matching a user-defined sum type to a Generic `:+:` ? I confess I don't know much about Haskell's `Generic`, but in Scala it ends up looking fairly straightforward, you just add an implicit constraint requiring `Generic.Aux[UserType, GenericCoproductType]` and behind

[2017-11-21 21:11] AlexeyRaga commented on #10
`[Result]` shoudn't be a problem because `Avro` already handles `[a]`, as well as `Map` and other types that are handled polymorphically.

In Haskell, thanks God, there is no need for `Aux` :) But anyway, I prefer (in general) to expose simple types, and so far I don't see enough reasons to simulate a sum type via type-level machinery whether we can simply have one.

[2017-11-22 21:22] adelbertc commented on #10
Related question - should I be making issues/PR's against this repo or the [haskell-works](https://github.com/haskell-works/hw-haskell-avro) one? I ask because the `avro` published on [Hackage](https://hackage.haskell.org/package/avro) seems to be from haskell-works.

[2017-11-22 22:50] AlexeyRaga commented on #10
It is fine to use this one. We do PRs from HW here anyway to keep it up to date.

[2017-12-30 09:35] #8 closed

[2017-12-30 09:45] AlexeyRaga commented on #4
Should we close this issue?

[2017-12-30 15:17] Icelandjack commented on #4
Sure

[2017-12-30 15:17] #4 closed

[2018-03-19 11:04] Bebere opened #14 "Question relative to integer types encoding"
Hi,

Just a question: the Quickstart documentation states that the `Int` and `Int64` Haskell types are matched with the `long` Avro type. However, in `Data.Avro.Encode`, `Int` and `Int64` use `avroInt` instead of `avroLong` for their `EncodeAvro` instances. Is that normal?

[2018-03-19 12:53] AlexeyRaga commented on #14
It is most likely a bug, thanks for pointing out.
`Int` is trickier, but `Int64` should be encoded as `Long` IMO.  Also because `Int64` has a `Decode` instance that reads `Long` [2]
@newhoggy what do you think?

[1] https://github.com/haskell-works/hw-haskell-avro/blob/master/src/Data/Avro/Encode.hs#L132
[2]

[2018-03-19 13:01] AlexeyRaga commented on #14
Interestingly, we actually have a set of tests here that asserts `Long` values decoding/encoding, and somehow it manages to work: https://github.com/GaloisInc/avro/blob/master/test/Avro/Codec/Int64Spec.hs#L70

[2018-03-19 13:08] AlexeyRaga commented on #14
It looks like the encoding process doesn't actually use that type annotation:
[code]

so `putAvro` takes a tuple of `(Builder, Type)` and throws away the type. And underlying `encodeRaw`, `Zig`, etc. have all the correct implementations.
Maybe this is how it all works.

We may want to figure out the intent and clean it up at some point. But for now, we can probably fix the `Encode` instance for `I

[2018-03-19 21:39] TikhonJelvis opened #15 "JSON parsing/serialization for Avro types"
Is there a convenient way to read/write types with `FromAvro`/`ToAvro` instances as JSON rather than Avro's binary format, using the corresponding Avro schema?

This would be particularly nice with the types generated by `deriveAvro` as it would let me easily support both formats.

If there's no easy way to do this as is, what would adding that to the library look like? Would a good option be to m

[2018-03-19 23:57] AlexeyRaga commented on #15
You can decode any Avro value into `Aeson.Value` by just using `decodeAvro`, but you still need schema because without schema Avro decoder doesn't know what to do.
`ToJSON` instance for `Data.Avro.Types.Value` already exists.

[code]

I don't know about decoding **from** JSON though. I think it should be possible: knowing the schema you could traverse `Aeson.Value` and create `Data.Avro.Types.Valu

[2018-03-20 08:48] AlexeyRaga commented on #15
Yeah, I think that `HasAvroSchema a => Aeson.JSON -> Either String a` should be possible.
Try making it happen, maybe looking at . `ToJSON` as an example: https://github.com/GaloisInc/avro/blob/master/src/Data/Avro/Schema.hs#L307

[2018-03-21 00:49] TikhonJelvis commented on #15
@AlexeyRaga Oh hey, there's a [`parseAvroJSON`](https://github.com/GaloisInc/avro/blob/master/src/Data/Avro/Schema.hs#L366) function in `Data.Avro.Schema`, but not exported.

Doesn't this do almost exactly what I want? It seems like I can just compose it with `fromAvro`:

[code]

[2018-03-21 00:50] TikhonJelvis commented on #15
Of course, I found this function after I was most of the way through writing my own version of `parseAvroJSON` :).

[2018-03-21 08:25] AlexeyRaga commented on #15
@TikhonJelvis I wouldn't know for sure because I haven't used it, but it does look what you need! Good to know!

Perhaps some unit/property testing would be nice to have to make sure that it works properly :)

[2018-03-21 16:28] TikhonJelvis commented on #15
I'll give it a try.

I did figure out one awkward thing though: `parseAvroJSON` depends on `Type` from `Data.Avro.Schema` and the `FromJSON` instance of `Type` depends on `parseAvroJSON`. This means we can't move `parseAvroJSON` into a separate module without incurring a circular dependency :/.

One option would be moving `Type` into `Data.Avro.Types` and reexporting it from `Data.Avro.Schema`. Ho

[2018-03-21 22:17] AlexeyRaga commented on #15
Yes,  it can be cleaned up a bit in my opinion too.
I am not against moving `Type` and its synonym `Schema` to `Data.Avro.Types`. I think it is quite logical.

I would even turn them around and made `Schema` to be a real data type name, and had type `Type` a synonym so we could eventually deprecate `Type` and just use `Schema` everywhere :)
But these are just my thoughts.

[2018-03-22 00:18] TikhonJelvis commented on #15
I was going to suggest exactly that! `Type` is too generic...

[2018-03-22 04:10] TikhonJelvis commented on #15
Actually, never mind: moving `Type` to `Data.Avro.Types` wouldn't solve my problem—I'd still either have to put `parseAvroJSON` into `Data.Avro.Types` or have circular dependencies or have an orphan `FromJSON` instance. None of these are great choices.

This is one of those cases where the open-world assumption really bites us :/.

[2018-03-30 01:36] TikhonJelvis commented on #15
Okay, I've written code for this, now I just need to write some tests :).

My change might actually not be backwards compatible with the library because the previous version was too permissive in parsing default values for unions. The spec only allows the default value to be of the *first* schema in a union, but the existing code tries *all* of the specs in the union:

(See https://avro.apache.org

[2018-03-30 12:21] AlexeyRaga commented on #15
From my understanding, @TomMD is not actively interested in this lib at the moment, and is not actively reviewing/merging PRs.
I don't have any special rights on this repo so all the patches I and my colleagues make are going through this repo: https://github.com/haskell-works/hw-haskell-avro
We always send PRs to this repo, but we have no way to tell when and if they'll be accepted. We also publi

[2018-03-30 14:40] TomMD commented on #15
@AlexeyRaga's understanding is correct.  I am happy to give the commit bit on this repo to any interested contributors but do not currently have the time to manage the project.

[2018-03-30 19:31] TikhonJelvis commented on #15
I don't have strong preferences between the repos, but it would be really helpful if one or the other was clearly marked as the "official" repo for the package. This means either:

  * move development to this repo and give a commit bit to @AlexeyRaga and whoever else is needed
  * keep active development on the haskell-works repo and have a link from this repo to that one

[2018-03-30 19:33] TikhonJelvis commented on #15
It's much easier to contribute to a repo if all the issues and PRs are in one place.

Also, I noticed that the Hackage page links to *both* repos, which doesn't help with the confusion :).

[2018-03-30 22:47] AlexeyRaga commented on #15
@TomMD If we either have commit rights on this repo or if we transfer this repo to `haskell-works` and kill that fork (obviously keeping the license, copyrights, etc.), both solutions work for me.

If you don't think that you are going to be back to this project then maybe transfer works a bit better, but again, I am happy with either.

[2018-03-30 23:15] TomMD commented on #15
I thought you did have commit rights... checks... hurm ok.  Well you now have an invite as admin on this repository.  Feel free to invite people as you see fit.  If I catch flak for giving away "admin" rights or there's a compelling reason then we can move the code, I'm not sensitive to the URL it's at.

[2018-03-31 06:33] AlexeyRaga commented on #15
Thanks @TomMD! I'll do releases from this repo from now on.

[2018-04-05 09:30] AlexeyRaga commented on #10
Update: please do PRs here. `haskell-works` fork is deprecated.

[2018-04-06 01:43] TikhonJelvis opened #18 "Schemas with default values for fixed and bytes fields do not parse."
A schema containing a record with the following field:

[code]

will fail to parse because `parseAvroJSON` does not handle parsing JSON strings into `Fixed` or `Bytes` values:

[code]

The same problem for a field with type "bytes":

[code]

[2018-04-06 01:44] TikhonJelvis commented on #18
I have a couple of failing test cases for this and I'm pretty sure I know how to fix it, but I figure I'd throw up an issue while I start working on a PR for it.

[2018-04-06 03:37] AlexeyRaga commented on #18
Yes, `default` is a bit of a gray area. We have never used it until recently, and I fixed a bug regarding `default=null` a couple of days ago, so there may be more corner cases about it.

[2018-04-06 03:40] TikhonJelvis commented on #18
Luckily, the code for dealing with defaults is basically a subset of the code for dealing with JSON-encoded values, so I'll be adding tests and fixing issues around defaults as part of exposing the JSON functionality.

I'm actually already part of the way through a patch for this issue. I've just run into a problem with the TH deriving code that needs debugging.

[2018-04-06 05:40] TikhonJelvis opened #19 "Names and namespaces are not handled correctly."
I see three separate problems with how names are currently handled:

  * a `namespace` of `Nothing` is semantically the same as `Just ""`
  * `name` and `namespace` should be unified into `TypeName` because we should never compare names without considering the namespaces
  * namespaces should be inferred following the rather ugly rules in the Avro specification

The first issue is a problem becaus

[2018-04-06 05:41] TikhonJelvis commented on #19
Another option is to get rid of the `namespace` field altogether and always fold the namespace into the `name` field. This way names are just strings that can be compared and all the namespace nonsense is handled when we parse or define schemas.

[2018-04-06 22:03] TikhonJelvis commented on #18
Okay, I believe this is fixed now.

[2018-04-06 22:03] #18 closed

[2018-04-09 07:00] AlexeyRaga opened #22 "Default values for Enum type don't work"
At least for schemas generated by `Deriving`

[2018-04-09 10:43] AlexeyRaga commented on #22
Actually, I suspect that default values don't work at all :(

[2018-04-09 10:55] AlexeyRaga commented on #22
I have found that default values are resolved only when de-conflicting values with `Data.Avro.Deconflict`.
Should we apply default values even without explicit deconflicting?

[2018-04-10 01:47] #22 closed

[2018-04-10 17:08] TikhonJelvis commented on #15
JSON parsing and serialization has been implemented in #21.

[2018-04-10 17:08] #15 closed

[2018-04-17 18:28] TikhonJelvis opened #23 "Release version of package with JSON module"
Do we need anything else before we can release a version of `avro` to Hackage with the new JSON module exposed?

I believe I made some backwards-incompatible changes to how schemas are parsed (to match the Avro specification), so the new version should be 0.3.0.0 or something.

[2018-04-18 00:32] AlexeyRaga commented on #23
I'll do it

[2018-04-18 06:37] AlexeyRaga commented on #23
@TikhonJelvis before we release it, can you please have a look at the CI here?
It looks like one of your tests is failing:
https://circleci.com/gh/GaloisInc/avro/7

[2018-04-18 07:27] TikhonJelvis commented on #23
Oh boy, looks like this is a known issue with Stack and data-files: https://github.com/commercialhaskell/stack/issues/548

:/

I am not sure about the best way to fix this because I don't use Stack. Do you have any suggestions? Maybe switching to this `file-embed` package?

[2018-04-18 11:33] AlexeyRaga commented on #23
OK, I have released `0.3.0.0`!
Thanks a lot for making it happen, @TikhonJelvis !

[2018-04-18 11:33] #23 closed

[2018-05-04 01:12] AlexeyRaga opened #25 "Defaults for Union types are not encoded/decoded correctly"
@TikhonJelvis I have bumped into an issue where default values for union types are not encoded/decoded in Schema in a way that they can be respected by decoding functionality.

For this schema:
[code]

the expected Haskell representation would be:
[code]

Note that the `fldDefault` is annotated with its type of `Union Null String`.

However the current implementation gives me this:
[code]
Which do

[2018-05-04 01:14] AlexeyRaga commented on #25
The error that I am currently getting is this:
[code]
Which is correct in a way, because `Null` is not of type `Union`.

[2018-05-04 01:37] TikhonJelvis commented on #25
I changed the union code to reflect the fact that the default value for a union has to be from the *first* branch of the union. It looks like this is an unintended consequence of that change.

I can't think of a way to fix this without special-casing unions one way or another. The simplest thing is probably wrapping the `fldDefault` value in the appropriate `Union` when building the `Schema` recor

[2018-05-04 01:42] AlexeyRaga commented on #25
I think we can fix type annotation back and it'll work again.
From what I see now the change is somewhere between `304ada7` (which works) and `15400f3` (which doesn't work).

I'll branch off `304ada7` to create `0.2.1.2` release (because I need to fix another unrelated bug for de-conflicting schemas) and then will try tracking it down and figuring out how to preserve the annotation.

Any help/advi

[2018-05-04 01:48] TikhonJelvis commented on #25
I can take a quick stab at fixing it for the `0.3.*` version of the package.

I would like to preserve the new behavior because the old version did not match the Avro specification and the way it handled the logic caused me some problems. (I'd have to root around a bit for the exact details, but I was having trouble when it failed to match a `NamedType` against the complex type with the correspond

[2018-05-04 01:49] AlexeyRaga commented on #25
Tags are now done automatically every time CI detects a version change in the cabal file :) I think it'll continue to work.

[2018-05-04 04:05] #25 closed

[2018-05-26 03:02] jessekempf opened #32 "Strange decoding error when deserializing Avro blob"
This is more of a request for debugging assistance than a bug report. I think.

I'm trying to decode RDK-B messages that use this schema: https://code.rdkcentral.com/r/plugins/gitiles/rdkb/components/opensource/ccsp/CcspLMLite/+/2f08d4d145699f31310c942199a62eb1e9f4d8b3/config/InterfaceDevicesWifi.avsc.

The actual blobs that I'm trying to decode I can't provide in this report. If it'd help, I migh

[2018-05-26 10:58] AlexeyRaga commented on #32
Interesting. Can you make a branch with a unit test replicating this error?

I see only one place where that can cause this error message, which is this one:
https://github.com/GaloisInc/avro/blob/master/src/Data/Avro/FromAvro.hs#L74

Also in the error message, it says that  `Double`  doesn't match `Record`, which can have something to do either with these logical type things or with the way some

[2018-05-31 05:52] jessekempf commented on #32
I'm going to start on trying to make a repro.

Here's the thing, though: the code generated by TH doesn't contain the string `oub`, which means there aren't any direct references to `Double` anywhere in the generated schema. As I understand it, Avro doesn't have wire-level type identifiers -- if there is a wire identifier for a double let me know so I can look for it.

Assuming a uniform distribut

[2018-05-31 07:08] jessekempf commented on #32
This isn't a repro, but I've used the official Python 3 implementation of Avro to decode both the problem blobs using the schema I linked.

[2018-05-31 08:53] jessekempf commented on #32
I serialized this python dict using the schema:
[code]

and got the same error. This is using a version of the schema modified to eliminate the logical types use. And it's using the decoder from v0.3.0.4, SHA 65aa845.

The schema's guaranteed to match now, since blob generation is under my control. I think it pretty obvious none of these fields are secretly floating point. I think logical types ha

[2018-05-31 09:46] jessekempf commented on #32
Right, so, I figured it out where the `Double` was coming from.

GHCi defaulting.

For some reason I had a sudden rush of shit to the brain and thought that providing an explicit schema was sufficient to indicate the type I was decoding. Nope, it doesn't work that way.

I figured this out after stripping things down so small one of the following had to be true:
1. I'm exercising code that was neve

[2018-05-31 09:46] #32 closed

[2018-06-15 04:07] AlexeyRaga opened #35 "Support GHC 8.4"
There is a typical`Semigroup`/`Monoid` issue
Also https://github.com/GaloisInc/pure-zlib/issues/8

[2018-06-29 08:08] AlexeyRaga commented on #35
@jkachmar I don't think so since we are still awaiting for `pure-zlib`. AFAICS the code has been updated, but it is not on Hackage yet.

[2018-07-05 13:51] #35 closed

[2018-07-05 16:37] TikhonJelvis opened #40 "The issue tracker link on Hackage does not work."
The issue tracker link on Hackage currently points to `https://github.com/GaloisInc/avro.git/issues` but should point to `https://github.com/GaloisInc/avro/issues` instead (`avro` vs `avro.git`).

I believe you can submit a [revision](https://github.com/haskell-infra/hackage-trustees/blob/master/revisions-information.md) to fix this—probably a better option than waiting for a new version of the pa

[2018-07-10 00:08] adelbertc commented on #10
@AlexeyRaga So I'm starting to implement this but am hitting the issue where Avro unions are effectively anonymous which makes it awkward when generating Haskell data types.

For example, consider:

[code]

Per your earlier comment you suggested this would result in:

[code]

This has a number of problems:
1. We have to capitalize the first letter of the field name ourselves if it's not already ca

[2018-07-10 00:17] TikhonJelvis commented on #10
I don't have any naming suggestions that don't abuse Unicode in horrible but creative ways.

[2018-07-10 05:11] AlexeyRaga commented on #10
@adelbertc Problem 1 (capitalise the first letter) is already there and we already do it for types, so not really a problem.

But I take your point about unions not necessarily being inside records. I take back my previous suggestion and vote for GHC generics :)
It is essentially an HList, isn't it?

[2018-07-10 05:19] TikhonJelvis commented on #10
I don't think the `:+:` type from `GHC.Generics` would be any better than `Either`. It's just like `Either` with some extra functors shoved in:

[code]

If we specialize `f` and `g` to `Const a` and `Const b`, `(:+:)` becomes the same as `Either a b`.

The extra generality these functors provide makes sense for `GHC.Generics`, but I don't think it's useful here.

[2018-07-10 11:01] AlexeyRaga commented on #10
What about  `HList` then?
The type would be something like `HList '[Int, String, Bool]`.

I see one problem with it: it brings lots of complexity and type-level stuff to people who "just" want to serialise data. This was my motivation before when I said that I'd prefer simple ADT to generic stuff...

I guess `EitherN` is a solid choice then.
Could be as simple as
[code]
of
[code]

[2018-07-10 13:14] TikhonJelvis commented on #10
The `HList` type itself is an extensible product type, but the library does support extensible sums with the [`Variant`](http://hackage.haskell.org/package/HList-0.5.0.0/docs/Data-HList-CommonMain.html#t:Variant) type. There are also a few other packages with different implementations of extensible sum types.

I would not recommend any of these because they tend to be quite complicated _and_ have

[2018-07-10 20:52] TikhonJelvis commented on #40
Looks like this is fixed now.

[2018-07-10 20:52] #40 closed

[2018-07-11 07:21] adelbertc commented on #10
Alright I'm working on implementing `EitherN` for `N ∈ {3, 4, 5}` (since selfishly we need 5 atm.. I can add more if you prefer)

On an unrelated note have there been any language proposals for polymorphic variants, if such an idea would even be entertained?

[2018-07-11 09:58] AlexeyRaga commented on #10
Could even be an `eithern` package that could depend on in this library :)

[2018-07-18 05:36] AlexeyRaga opened #41 "Avro and lazy decoding"
I am not actually starting any work on this now and opening this issue as a discussion point.

The problem is that the `decodeContainer` has the following signature:
[code]
which means that in order to return the result it must know whether there was an error or a success for the entire structure. Which means that the value in `Right` is fully traversed before it is returned and that `[[T.Value Ty

[2018-07-18 19:23] TikhonJelvis commented on #41
I had a chat with Alex about Avro and streaming this morning. Incrementally parsing each *block* in a container ought to be straightforward. If one block has a parse error, we can recover at the start of the next block by jumping to the next "synchronization marker":

This means we can change the signature of `decodeContainer` to something like:

[code]

Having nested `Either`s like this is defini

[2018-07-22 05:12] Jyothsnasrinivas opened #42 "Fails to build with Eta"
I'm trying to build the avro-0.3.2.0 with Eta and it fails with the following error:

[code]

I've made the following change to the line https://github.com/GaloisInc/avro/blob/master/src/Data/Avro/Deriving.hs#L335 to
[code]

Will this maintain the original intent?

[2018-07-22 09:37] alexbiehl commented on #42
Uh. Corner case in GHC? `e` is no free variable in scope here. Care to make a quick PR?

[2018-07-22 11:02] Jyothsnasrinivas commented on #42
@alexbiehl Yes, I felt the same. I wanted to be sure if there was any GHC-specific behaviour that I wasn't aware of.  Submitted the pull request.

[2018-07-22 14:05] alexbiehl commented on #41
I made some experiments today and somewhat converged on this code:

[code]

The above design
- allows fast skipping over blocks
- decouples parsing of blocks from parsing of actual Avro values and thus nicely separates the problem

Just throwing this into the discussion, maybe this helps to find out what we want and what we don't want.

[2018-07-22 15:40] alexbiehl commented on #41
One addendum to lazy fields vs. lazy blocks. Lazy blocks are inherently supported by Avro. Blocks are prefixed by their length. I don't need to look at the values to determine boundaries.

Whereas we would "overlay" laziness in the lazy fields proposal. This has the implication that to skip fields, we still need to (deeply) traverse/partially deserialize every field in order to get the widths of e

[2018-07-23 13:47] #42 closed

[2018-08-06 03:26] AlexeyRaga commented on #41
I have also found this code:
[code]

Which is not very reassuring, but it doesn't impact us and our cases (yet).
Perhaps at some point, we need to fix it too.

[2018-08-10 12:00] #41 closed

[2018-09-11 10:45] AlexeyRaga opened #53 "Add support for blocks compression"
Avro spec (https://avro.apache.org/docs/1.8.1/spec.html#Object+Container+Files) allows blocks within containers to be compressed.

This lib already supports such compression one way (when reading containers). It would be nice if compression was supported for both reading and writing containers.

[2018-09-16 20:18] jessekempf opened #58 "I can encode Avro inconsistent with my schema"
I just ran into a (more complex) bug which mostly reduces to the fact that if I have:

[code]

The problem is caught at decode time, and in a non-obvious way, not encode time and in an obvious way.

Is this intended, or is it an oversight?

[2018-09-19 08:59] AlexeyRaga commented on #58
Is it problematic because  you specify `S.Long` in `HasAvroSchema` but give it  `T.Double` in an instance?
Are you saying that we should be enforcing at the type level (or at least validating at the encoding time) that these types match?
I don't think that we intentionally not enforcing it, just that it has never been implemented or thought of...

[2018-09-19 10:37] AlexeyRaga commented on #19
@TikhonJelvis can this issue be closed or you still have something in mind around it?

[2018-09-20 05:17] jessekempf commented on #58
Yes.

In a perfect world the answer is "This is Haskell", so this should be caught at compile time using the type system. That would require a fundamental change to the way the library works and I'm not entirely sure how one would do it.

Given the world we live in, we already have the schema at encoding-time, so we could detect the problem at encoding-time. It then becomes a matter of whether to

[2018-10-11 21:46] #19 closed

[2018-10-11 22:00] TikhonJelvis opened #61 "`buildTypeEnvironment` doesn't work properly with maps"
`buildTypeEnvironment` on older versions of the package doesn't handle maps properly.

[code]

This `case` should also recurse on `Map {..}`:

[code]

This leads to errors on schemas that define a named type in a map and then refer to it:

[code]

Decoding an object with this schema will result in an error about the type `"Bar"` not being in scope.

It looks like I actually fixed this in my [names

[2018-10-18 05:44] TikhonJelvis commented on #61
Looks like the newest version of the code doesn't work with arrays *or* maps. I'm also having issues with the new `extractBindings` function missing other kinds of nested types.

This is a bit troubling because it means the package won't work with perfectly valid schemas. I've put together a PR that fixes this problem and includes tests to ensure the logic is correct.

[2018-10-29 15:09] imalsogreg opened #64 "0.3.6.0 API breaking change"
Hello! 0.3.6.0 adds a new field to the `TN` constructor in `Data.Avro.Schema.TypeName`.

This change breaks downstream users of that constructor - would you be open to making a new release called 0.4 (no code change, just version bump), to match the PVP convention? and maybe even further, marking 0.3.6.0 and 0.3.6.1 as deprecated?

I'm not blocked on this personally, but it would likely help other

[2018-11-01 02:54] AlexeyRaga commented on #64
Done, thanks!

[2018-11-01 02:55] #64 closed

[2018-11-03 23:33] AlexeyRaga commented on #61
@TikhonJelvis is it fixed now? Can this  issue be closed?

[2018-11-06 05:51] TikhonJelvis commented on #61
@AlexeyRaga Yes, this should be fixed now. Thanks!

[2018-11-06 05:51] #61 closed

[2018-11-07 14:52] imalsogreg commented on #64
Thank you!

[2018-11-08 09:48] AlexeyRaga opened #68 "Add better support for logical types"
Currently, logical types [1] are only supported "on the way in". We can correctly parse/decode schemas with logical types, but then the information about logical types is gone.

Ideally, we should preserve logical types in `Schema`.

[1] https://avro.apache.org/docs/1.8.2/spec.html#Logical+Types

[2018-12-20 19:33] TikhonJelvis commented on #68
I need this for something I'm building, so I was thinking of implementing it.

Do you have any thoughts on what this should look like? Right now, I would probably just add the logical types to the `Schema` type and update the rest of the library from there.

@alexbiehl @imalsogreg—any thoughts?

[2018-12-20 20:45] imalsogreg commented on #68
@TikhonJelvis Great! So the design possibilities are:
 - Add constructors for Date, Day, TimeMillis, TimeMicros, TimestampMilles, etc to `data Schema = ...`
 - For a constructor that may optionally get a logical attribute, add a record field for that (e.g., extend the Fixed constructor with `isDuration :: Bool`, extend `Int` with `isDate :: Bool`, etc.
 - Add `logicalType :: Text` field to each sc

[2018-12-21 02:59] imalsogreg commented on #8
I too am interested in replacing `entropy` with `tf-random`! I want to compile `avro` with ghcjs and run it in a browser, meaning I need a library without system access. Will get a quick PR up.

[2018-12-21 19:19] TikhonJelvis opened #73 "Are we actually using hpack?"
Right now, we have both a `.cabal` file *and* a `package.yaml` file in the repo. This is redundant and can cause problems—for example, #71 only updated the `.cabal` file, so the repo does not build with hpack any more. This was not caught by our CI which, presumably, just uses the `.cabal` file directly.

Ideally, we should only have one or the other. I propose getting rid of `package.yaml` altoge

[2018-12-22 01:47] TikhonJelvis commented on #73
This was causing problems on our codebase at work because our Haskell builder ignores the `.cabal` file if a `package.yaml` file is present in a repo, but the master branch currently doesn't build with the `package.yaml`.

[2018-12-22 07:32] AlexeyRaga commented on #73
Well, I agree.
Yes, we use `hpack` (and `stack` understands it natively). I guess we can get rid of `.cabal` from the repo.

[2018-12-27 10:06] AlexeyRaga opened #75 "Enable CCI to use orbs"
@TomMD Hi Tom,
I'd like to use CircleCI Orb (https://circleci.com/orbs/registry/orb/haskell-works/haskell-build) for building this project.
You can read more about orbs here: https://circleci.com/docs/2.0/using-orbs/

Would it be possible to enable this settings for the Galois organisation in CircleCI?

![image](https://user-images.githubusercontent.com/1394391/50476098-f6598480-0a1a-11e9-90ca-e9d

[2018-12-27 18:06] TomMD commented on #75
Hurm, that is a good question @AlexeyRaga .  I'll need to ask the admin, which I can do on Tuesday.

Is this urgent? If this is presently a significant issue then it might be the straw that moves the project over to your namespace after all.

[2018-12-27 18:10] TomMD commented on #75
Thinking for more than a second on it - we should probably transfer to your namespace.  Care to click the button? I don't think I can since I can't create repos in your org.  That said, I'm also happy to talk to the admin on Tuesday if you'd rather leave it here.

Why?  Well obviously I haven't had work projects pull me back to this code like I had expected.  Certainly you are using it heavily and

[2018-12-28 09:35] AlexeyRaga commented on #75
Fair enough! I am OK with transferring it under `haskell-works`.
Unless there are no major objections (@TikhonJelvis?) I will make a transfer in a couple of days.

[2018-12-28 19:11] TikhonJelvis commented on #75
Transferring sounds perfectly reasonable to me.

We should update the links on the Hackage page when we do.

[2019-01-03 23:05] AlexeyRaga commented on #75
Thanks everyone, the transfer has happened, a new release with the updated links has been published to Hackage.

[2019-01-03 23:05] #75 closed

[2019-01-04 06:17] AlexeyRaga commented on #73
We don't use it anymore

[2019-01-04 06:17] #73 closed

[2019-02-15 23:04] TikhonJelvis opened #80 "Add a benchmark suite"
Performance matters when serializing and deserializing large amounts of data with `avro`. It would be great to have a benchmark suite to measure and track performance:

  * how long it takes to serialize/deserialize `Avro.Value` to binary
  * how much memory the package uses (including just the memory efficiency of `Avro.Value`s)

This will help us make informed decisions about the performance of

[2019-02-15 23:06] TikhonJelvis commented on #80
I can put together a simple initial set of benchmarks for serialization and deserialization, but I could definitely use help to flesh out the benchmarks themselves after I set it up.

[2019-02-17 09:36] AlexeyRaga commented on #80
Great idea!
Thanks for doing it, I am sure that we are going to contribute to the set of benchmarks once it is set up.

[2019-02-23 14:27] neongreen opened #81 "Don't reexport the orphan Show (a -> b) instance"
Is there a good reason why it's exported?

https://github.com/haskell-works/avro/blob/2a370134befaa8dd2627e9efa6463ed1a9acadd5/src/Data/Avro/Schema.hs#L79

[2019-02-23 22:44] AlexeyRaga commented on #81
We don't re-export `Text.Show.Function, do we?
We import `Text.Show.Function ()` instances to be able to derive `Show` for `Schema`. It is impossible otherwise because `Schema` has function members.

I think we could give `Schema` a manual instance of `Show`, or think of removing the ability to `Show` schema (which has been quite useful for debugging but may not be used for any "real" code).

Fran

[2019-02-23 23:13] neongreen commented on #81
All instances that you import or otherwise make available in a module are always exported from that module. Just doing `import Text.Show.Function ()` is enough for this instance to propagate to `Data.Avro` and then all modules elsewhere that import _anything_ from `Data.Avro`.

[2019-02-24 08:53] AlexeyRaga commented on #81
I see that, I am just pointing to the fact that we don't re-export it explicitly. The reason it bubbles up is that `deriving Show` on `Schema`.
I see how it is not ideal though.

[2019-02-24 10:47] neongreen commented on #81
No, it would bubble up even if you didn't do `deriving Show` on `Schema`.

You could ask GHC to dump the derived instance and then paste it into the code. It does look like the resulting instance would be annoying to have in code, though. I don't know what is the best solution here.

[2019-02-25 02:31] AlexeyRaga commented on #81
If we didn't do that we wouldn't need to import that orphan instance :)

One way of solving it would be not to provide `Show` instance for `Schema`.
There is a way to dump it as json, and it is probably even more convenient for debugging...
I don't know if we really need `Show` for `Schema`, but it might be convenient for someone here...

How big is the issue?

[2019-02-25 03:49] TikhonJelvis commented on #81
Having a `Show` instance is really handy for debugging and using GHCi.

Personally, I would prefer to wrap the lookup function in `Schema` in a `newtype`. This would break backwards compatibility but it would be an easy fix, and I doubt there is any code outside encoding/decoding that uses that part of `Schema`.

[2019-02-27 05:46] dsturnbull opened #82 "Cannot resolve read/write schemas when NamedType fields are 'renamed'"
[code]

to

[code]

i.e. The original has `source` and `dest` but I only want to decode `dest` so I remove `source` but leave the type definition in the remaining `dest` field.

The error produced is:

[code]

I removed some potentially sensitive information from these texts but if there looks like something is missing I can provide full dumps.

[2019-02-27 15:49] alexbiehl commented on #53
We are very interested and would like to make it happen. I noticed we were using `pure-zlib` for inflation. However, it doesn't support deflation! Is there a particular reason you chose `pure-zlib` over `zlib`?

[2019-02-27 19:45] alexbiehl opened #83 "Decoding of Avros with `codec = deflate` doesn't obey spec"
The spec states

Now, when I try to decode a container with `codec = deflate` I get

[code]

Which is an error message from pure-zlib. But according to spec neither header nor checksums should be serialized and instead the raw format defined by RFC 1951 should be used.

[2019-02-27 19:47] alexbiehl commented on #83
It seems that `pure-zlib` is not offering a "raw deflate". `zlib` does, would you accept a PR switching from `pure-zlib` to `zlib`?

This would answer my question from https://github.com/haskell-works/avro/issues/53#issuecomment-467915451.

[2019-02-27 22:10] AlexeyRaga commented on #83
Since the Avro spec says that

I think that we should support it and I personally would be very grateful for such a PR. There is already an issue to support compression at the "writing" side, which can be targeted easier after we support decompression.

From my POV the only "disadvantage" of using `zlib` over `pure-zlib` is that `zlib` uses C.

I think I am OK with that, are there any other downsi

[2019-02-28 12:48] AlexeyRaga commented on #53
It was chosen by the original author, not by us.
I believe the reason might be that `pure-zlib` is pure and that it is maintained by the original author's company. I can't think of any other functional reasons, but again, I cannot know.

[2019-03-01 20:09] TikhonJelvis opened #85 "Decoding maps with blocks that start with a negative number is not handled."
According to the Avro spec, blocks can start with a negative number, which requires special handling:

The implementation of `getArray` deals with this correctly:

[code]

`getMap`, however, doesn't handle this case:

[code]

This is an easy fix, but I don't have time to implement it *right now*, so I'm opening an issue to keep track of it.

[2019-03-02 00:27] TikhonJelvis commented on #85
I suspect we haven't run into this problem before because our library never encodes Avro values in this style. Even so, this can cause errors if we get Avro data encoded by some other system.

[2019-03-02 00:35] TikhonJelvis opened #87 "Add toEncoding/fromEncoding methods to ToAvro/FromAvro."
Right now, we always use `Value` as an intermediate type for encoding and decoding Avro values.

Using an intermediate type like this for larger amounts of data is _expensive_. On an internal project, I found that using an intermediate representation like `Value` was about 3x slower and used about *40×* more memory than going directly to/from normal Haskell types generated by TH.

Aeson has the sa

[2019-03-03 22:09] #53 closed

[2019-03-03 22:26] AlexeyRaga commented on #58
Since we don't have a clear plan about fixing this issue (and whether it is indeed an issue)  I'll close it for now

[2019-03-03 22:26] #58 closed

[2019-03-03 22:34] AlexeyRaga commented on #87
Thanks for bringing it into the light!
I was thinking about something like this for a while, but haven't had a chance to look at it properly.

One complication for me was the ability to decode an Avro container/message with "smaller" (but compatible) schema: the direct decoders should know how to skip bits that are not used. So some knowledge of deconflicting is now required at the decoding layer.

[2019-03-04 08:04] #83 closed

[2019-03-12 18:58] TikhonJelvis commented on #81
The reexported `Show` instance is already confusing people who depend on `avro` in our internal codebase, and there's no way to suppress it without forking the whole package.

I think it's worth breaking backwards compatibility to fix this problem. I'm happy to submit a PR wrapping the function in a newtype if we're willing to do this.

[2019-03-13 05:47] AlexeyRaga commented on #81
I am good with that. Don't think it'd be noticed anyway because I doubt that anyone would use these functions directly.

I am curious if there is a way to remove these functions completely. It looks like they are there for optimisation, an alternative would require doing a lookup of some sort.
But how costly would it be to do such a lookup? Or how costly would it be to build such functions on the

[2019-04-16 23:13] AlexeyRaga commented on #81
Fixing `deconflict` I am looking at `Union`s now.
It looks like `unionLookup` function is only used in one place: in `getAvroOf` function to get the value type by its index.

From the spec:

So it must _always_ be a 0-based index.

What I think is that we can update union definition from:
[code]
to
[code]

and since `Vector` provides a constant-time indexed lookup we can get rid of `unionLookup` f

[2019-04-17 12:13] AlexeyRaga opened #97 "Drop support for GHC 7.10.x"
I am thinking of dropping support for GHC 7.10.

Please let me know if you think supporting 7.10 is still important.

[2019-04-17 13:11] AlexeyRaga commented on #82
This is probably closed now.

[2019-04-17 13:11] #82 closed

[2019-05-18 17:14] dmateusp opened #106 "Clarification on encode - encodeContainer vs decode - decodeContainer"
Hi there!

I'm trying to get familiar with the library, and as an example I tried to expand on the README example and take a Haskell Data structure, encode it to Avro, write it to file and decode it from the file into the original Data structure again.

My first try was using the `encode` and `decode` functions and writing/reading to a file, but it produced invalid Avro (tested with avro-tools.jar

[2019-05-19 09:43] AlexeyRaga commented on #106
Sort of. As you have found, Avro specification talks about [Object Container Files](https://avro.apache.org/docs/1.8.2/spec.html#Object+Container+Files) and this is what you usually use when writing many avro-encoded values into a file.
Strictly speaking, it is not "because they deal with blocks" but because of Spark/Hive/etc. support Avro by following the specification. The reason for storing val

[2019-05-19 18:51] dmateusp commented on #106
hey @AlexeyRaga thanks for the clarification!

[2019-05-19 18:51] #106 closed

[2019-05-19 18:58] dmateusp commented on #106
I've added the code I was talking about in a Gist in case new-comers find this Issue: https://gist.github.com/dmateusp/aa2ebcbb973e307f77d665739e589809

[2019-08-23 16:31] Sir4ur0n opened #113 "`deriveAvro` example doesn't work"
Hi,

I just started testing this library and the `deriveAvro` example doesn't seem to work:
* `person.avsc`
[code]
* `MyModule.hs`
[code]
* Stack resolver 13.26

I get this compilation error:
[code]

However this compiles fine with `deriveFromAvro`

Is there something I missed? I may very well have done an error :sweat_smile:

Cheers!

[2019-08-27 00:15] Kheldar commented on #113
Works on my machine against LTS-13.26. Do you perhaps have something unusual about the way you've set up stack/cabal/ghc?

[2019-09-03 21:07] Sir4ur0n commented on #113
I just tested on my Windows machine and this works. So I guess this is something NixOS related 🤔 I'll investigate on my side and explain in this issue when I find out. Sorry for bothering you 😞 Cheers!

[2019-09-03 21:07] #113 closed

[2019-09-11 01:44] forficate opened #116 "deriveAvro / parse schema error"
`derriveAvro` fails when a primitive type is defined as an object, i.e. :
[code]

According to Schema Declaration (https://avro.apache.org/docs/current/spec.html#schemas):

So in the example type given it should be parsed as a primitive `long` and the additional fields `["connect.version", "connect.name"]`, captured as metadata or ignored.

It looks like the `Nothing` case at https://github.com/ha

[2019-09-25 11:52] torgeirsh commented on #116
Will you make a pull request? I'm also running into the same problem.

[2019-09-26 01:29] forficate commented on #116
I had forgot about this. I planned to make a PR but was having issues getting the tests to run trying `cabal new-test`. It now looks to be working and was a local env issue so will make a PR now.

[2019-10-03 03:41] newhoggy opened #121 "Does not compile on `ghc-8.8.1`"
[code]

[2019-12-23 22:37] #116 closed

[2020-02-06 15:13] serras commented on #68
Has been any progress on this? I am happy to contribute a patch.

[2020-02-06 23:18] AlexeyRaga commented on #68
@serras I don't think there was any progress on this feature.

This is indeed a feature that I would really like to see implemented, but I haven't thought about it seriously yet.

Avro Specification says that logical types are declared in Schema as:

[code]

so we could look at the schema at TH time and generate appropriate types.

We should also take into account these edge cases:

It'd be awesom

[2020-02-16 12:29] #68 closed

[2020-02-16 12:38] AlexeyRaga commented on #68
@serras @serras do you think it would potentially be possible to make logical types extensible?
For example, defining a schema like this seems to be possible:

[code]
or
[code]

and then in my application I would somehow instruct the library which type to use for a given logical type.

I am not asking you to implement it my any means, just a thought that occurred in my mind and may have occurred i

[2020-02-16 17:20] serras commented on #68
I could well imagine having something like this. The main issues I see are:
- How do you know how to translate those logical types into Haskell types? That is, how do you make the relation between the logical type `uuid` and the `UUID` type?
- What happens if a logical type can have more than one different underlying type?

[2020-02-16 21:14] AlexeyRaga commented on #68
Yeah, that's the problem.
Maybe through instances or by providing `deriveAvro` with some explicit set of types/functions...

Anyway, thanks :)

[2020-02-24 05:41] AlexeyRaga commented on #87
An update (//cc @TikhonJelvis @dwincort)

I am slowly working in this direction and the results are quite impressive:
[code]

The progress is in this branch: https://github.com/haskell-works/avro/tree/decode-optimisation
and it includes schema-based deconflicting approach that @dwincort initially suggested.

Once it is solid I am thinking of getting rid of both `Strict` and `Lazy` variants of deco

[2020-03-20 05:34] #81 closed

[2020-03-20 05:35] #80 closed

[2020-03-24 02:40] AlexeyRaga commented on #87
Addressed in #141

[2020-03-25 09:23] #87 closed

[2020-03-25 09:23] #97 closed

[2020-03-25 09:24] #121 closed

[2020-03-25 09:24] #14 closed

[2020-03-25 09:25] #85 closed

[2020-03-27 15:28] serras opened #142 "'toAvro' does not work well in the presence of 'NamedType'"
When implementing `toAvro`, sometimes you need to inspect the corresponding schema. However, if the original schema uses `NamedType` to reference other types (for example, in the implementation from `HasAvroSchema`), this is also what you get as argument. But at that point you have completely lost any context about what that `NamedType` is!

My suggestion is to make an invariant that `toAvro` is n

[2020-03-27 15:34] serras opened #143 "Deconflicting record with different orderings"
The [schema resolution spec](https://avro.apache.org/docs/current/spec.html#Schema+Resolution) reads:

However, the [implementation](https://github.com/haskell-works/avro/blob/master/src/Data/Avro/Schema/Deconflict.hs#L77) mandates the reader schema to be "more specified" than the writer schema.

Is this intended? Should I ensure that my schemas always have such bit on?

[2020-03-28 04:03] AlexeyRaga commented on #143
@serras I think there are two different "orderings" here.

One thing is ordering fields in the record. The implementation **does** handle it and **does** perform matching by name. Record fields can in reader and in writer schemas can be specified in different orders. There are tests that ensure this behaviour.

Another thing is the `order` value for each field: it has nothing to do with field's or

[2020-03-28 04:06] AlexeyRaga commented on #142
@serras It is likely a bug. We already have a functionality to "expand" the schema and to resolve all named types, we should indeed always call `toAvro` with the fully resolved schema.

I'll look into it when I have time.

An interesting question here is how we deal with recursive schemas... But I am sure that it can be handled.

[2020-03-28 11:17] serras commented on #143
I get the following error, so I guess that's indeed what's happening, the error is in the sorting of the field `postcode`:

[code]

[2020-03-28 11:24] serras commented on #143
Still, the schema resolution page does not mention anything about field ordering.

[2020-03-28 13:02] AlexeyRaga commented on #143
I _think_ that what may happen here is this We see that Writer ad Reader Schemas declare different fields ordering. We can deconflict these fields because of the name, but if the order doesn't match then associating data with the reader schema will be a lie, a false assumption and may cause problems.

The specification says that `Data items may only be compared if they have identical schemas.`

I

[2020-03-28 13:48] dwincort commented on #143
@AlexeyRaga What you think is happening is exactly what is happening.  In retrospect, I believe it probably shouldn't happen, and we could easily fix the code to allow different orderings by removing `moreSpecified`.

If you recall, when I first redesigned deconflicting, I took a very conservative approach.  In that mindset, it felt strange to accept a reader schema that had a different sort order

[2020-03-28 17:32] serras commented on #143
It would be great if you could make this change, indeed, since otherwise the library is not usable for us. Another option is take `Nothig` in `fldOrder` as "don't care", and make the test succeed if any of the parts have a `Nothing`, but not if both are specified and different?

[2020-03-28 23:46] AlexeyRaga commented on #143
@dwincort @serras In this case of an agreement I'll remove `moreSpecified` check and will just ignore field's ordering when de-conflicting so that we follow `the ordering of fields may be different: fields are matched by name` rule.

[2020-03-29 03:34] AlexeyRaga commented on #143
I think now that we overplay ourselves a bit here :)
We have `Record` defined as:

[code]

But [Specification for Record](https://avro.apache.org/docs/current/spec.html#schema_record) doesn't mention `order` at the `Record` level at all. `order` should only be at the field level.

I'll remove it and `moreSpecified` will go with it because it uses _that_ field.

[2020-03-29 23:16] AlexeyRaga commented on #142
@serras I have added a property test for this recursive schema:

[code]

and for this mutually recursive schema:

[code]

and it looks like at least generated code handles it well already.

The problem is maybe with manually defined `ToAvro` and `HasAvroSchema`?

If it is the case then it indicates that in this case instances should be implemented "smarter".

I think `record` helper function will

[2020-03-30 01:51] AlexeyRaga commented on #143
Fixed in #144

[2020-03-30 01:51] #143 closed

[2020-03-31 13:54] serras commented on #142
Yes, this is for a manually defined `HasAvroSchema` instance. In fact, I had to be clever there to avoid infinite recursion.

[2020-12-04 13:46] torgeirsh opened #159 "Serialise to JSON"
Is JSON encoding for serialisation supported? I've found some JSON related code in the library, but it seems mostly related to schemas. If I understand correctly, the JSON encoding is similar for serialisation and field default values, so maybe there's a way to reuse that? There doesn't seem to be a way to get a DefaultValue via ToAvro however.

[2020-12-05 03:03] AlexeyRaga commented on #159
This library does not provide encoding to JSON. Schemas - yes, because Avro schema is defined in JSON as per specification.
You probably don't even need this library support for JSON encoding, right? You can write/derive FromJSON/ToJSON instances for your types?

[2020-12-05 12:40] torgeirsh commented on #159
Avro defines a specific JSON encoding. While it's possible to write matching JSON instances by hand, it's error-prone, and you have to keep them in sync with the Avro schema, much like writing FromAvro/ToAvro instances by hand. I understand that generating FromJSON/ToJSON based on the Avro schema is not currently supported, but since the library already generates FromAvro/ToAvro based on the Avro

[2020-12-05 20:50] AlexeyRaga commented on #159
Yes, you are right, this library does not currently provide support for JSON encoding.
It could be added (PRs are always welcome).

`FromJSON` should actually be easier as it would probably only require writing one instance for [Value](https://hackage.haskell.org/package/avro-0.5.2.0/docs/Data-Avro-Encoding-FromAvro.html#t:Value).

Theoretically even `ToJSON can be done like that: serialise to Avr

[2020-12-06 01:15] torgeirsh commented on #159
I'm not familiar enough with the details of Avro to know what de-conflicting is. Is it a viable approach to make deriveAvroWithOptions' generate FromJSON/ToJSON instances, or would that impose an Aeson dependency on users? Is it better to make a separate deriving function that generates the JSON instances?

[2020-12-07 12:28] AlexeyRaga commented on #159
Dependency is not a problem, we already depend on Aeson.
However, I deliberately stayed away from having `FromJSON/ToJSON` for any of the types that this library generates. The reason is that users may want their own FromJSON/ToJSON for their own reasons. And they should have this flexibility.

But even then, it would probably be impossible (or really hard) to generate `FromJSON` for an Avro type.

[2020-12-07 12:35] AlexeyRaga commented on #142
I am closing this due to inactivity

[2020-12-07 12:35] #142 closed

[2020-12-07 12:45] torgeirsh commented on #159
Thank you for the insight, now I have a better understanding of what the challenges are. Even if the library doesn't provide FromJSON/ToJSON, functions like jsonToAvro/avroToJson would be helpful. Maybe a way forward is for the library to provide typeclasses AvroToJson and JsonToAvro, and then deriveAvroWithOptions' can generate instances for them? It sounds like that would overcome the incompatib

[2020-12-08 10:43] AlexeyRaga commented on #159
Maybe we can have `ToAvroJSON` and `FromAvroJSON` typeclasses, yes.
Feel free to sketch a PR, it would be interesting to see how it turns out :)

[2020-12-09 11:18] torgeirsh commented on #159
I started to investigate, but the context in which this issue showed up at work has changed, so for now I will leave it. Maybe the issue can remain open for future reference?

[2021-05-25 06:24] HuwCampbell opened #162 "Deconflicting occurs on full name, rather than baseName"
I think the avro specification changed around 1.10 to be more flexible in resolution.

It now reads:
[code]

I think the current name checks can be relaxed a little. I would also note that the java implementation doesn't appear to check names at all on deconflicting a top level record.

[2021-06-08 07:44] hanskr opened #163 "Nullable unions doesn't compile"
I'm trying to express an optional union type, and fail.

Given this schema:
[code]

It crashes on compile with this error:
[code]

Without "null" in the union type this works fine.

[2021-06-25 11:57] AlexeyRaga commented on #162
Yes, looks like it is an alteration in the spec.
I guess that you are right, and we can relax the check.

[2021-06-25 12:01] AlexeyRaga commented on #163
You are right, looks like a missing use case :)

[2021-11-14 10:36] alexbiehl opened #169 "API for writing containers incrementally"
I am constructing huge AVRO containers that I have to upload in multiple chunks. To help the use case It would be great if we had an API that let's you write containers incrementally:

[code]

This allows to consume from a streaming source and fill buffers incrementally.

I can contribute if you think it'd be worthwhile.

[2021-11-17 05:52] AlexeyRaga commented on #169
@alexbiehl cannot this one be used?
[code]

Given that lists in Haskell are lazy, you can lazily produce a lazy bytestring and lazily upload it in chunks...

At least this was the way we've done it in the past :)

[2021-11-17 05:52] AlexeyRaga commented on #169
Sorry, accidentally clicked the wrong button

[2021-11-17 05:59] alexbiehl commented on #169
Unfortunately I don’t have a lazy list, my messages are coming from a Kafka topic.

[2021-11-25 03:36] AlexeyRaga commented on #169
@alexbiehl Ah, we've been using lazy IO for it (both with `conduit` and with bare `unsafeInterleaveIO` to get these lazy lists.
Yeah, for sure, that's be a valuable addition for people who don't want to mess with lazy IO!

[2021-11-29 07:34] juhp opened #170 "fails to build with aeson-2.0"
[code]

[2021-12-26 03:16] #170 closed

[2022-01-21 06:20] ConDai opened #175 "Types redefined in schema of generated avro"
There are some types that are redefined in the header's schema after encoding with `encodeContainer`

The smallest case I have found to recreate this issue is with the following schema.

[code]

`Data.Avro` sets the following as the writer's schema after encoding with `encodeContainer`

[code]

My understanding is that types should not be redefined due to the following statement in the [spec](http

[2022-01-24 07:20] istathar commented on #175
This appears to demonstrate the problem:

[code]

The error output is:

![image](https://user-images.githubusercontent.com/1088511/150738522-d5f7f6cb-6655-4766-a3df-4c6557ff75e2.png)

We were hoping that #166 would solve this so we tried building against the 0.6.0 release you did a short while ago but unfortunately the problem remains.

[2022-01-25 00:37] AlexeyRaga commented on #175
Thanks I'll have a look hopefully soon

[2022-01-25 02:30] AlexeyRaga commented on #175
Interesting, for this type the schema comes down correctly (i.e. `ReusedChild` is not getting defined twice in the serialised json): https://github.com/haskell-works/avro/blob/main/test/Avro/Data/Reused.hs#L24

[code]

[2022-01-25 03:45] #175 closed

[2022-01-25 04:20] AlexeyRaga commented on #175
Should be fixed in `0.6.0.1`

[2022-01-25 07:39] istathar commented on #175
The test case I showed above is now passing. Nice job @AlexeyRaga!

[2022-03-08 07:06] juhp opened #177 "avro-0.6.0.1 failed to build in Stackage Nightly"
[code]

[2022-03-09 11:07] juhp commented on #177
cc @kutyel

[2022-03-09 11:34] juhp commented on #177
Wonder if this is also caused by unordered-containers instances

[2022-03-20 05:53] #177 closed

[2022-08-11 11:29] AlexeyRaga opened #186 "Make logical types extensible"
[code]

As per Avro specification, logical types are optional for codecs to implement.
This library implements "basic" logical types, but they are hard coded into the library.

It would be nice to be able to make logical types extensible so that users of the library would be able to provide their own logical types.

Currently, Java and even .NET implementations allow "registering" new logical type

[2022-08-11 11:41] AlexeyRaga commented on #186
I wonder if it can be implemented somehow like

[code]

and instances.

Questions: how to make TH generator see that and know to generate appropriate logical types?..

[2022-09-01 10:04] juhp opened #188 "HasBigDecimal 0.2 does not provide getScale and getValue"
[code]